<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2021 Huawei Device Co., Ltd.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<Configuration status="WARN">
    <Appenders>
        <File name="Log" fileName="log/OAT.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level - %msg%n"/>
        </File>
        <File name="Log_License" fileName="log/License.txt" append="false">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level - %msg%n"/>
        </File>
        <File name="Log_License_File" fileName="log/LicenseFile.txt" append="false">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level - %msg%n"/>
        </File>
        <File name="Log_OAT_Config" fileName="log/OAT_Config.txt" append="false">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Log"/>
        </Root>
        <Logger name="Log_License" level="info" additivity="false">
            <AppenderRef ref="Log_License"/>
        </Logger>
        <Logger name="Log_License_File" level="info" additivity="false">
            <AppenderRef ref="Log_License_File"/>
        </Logger>
        <Logger name="Log_OAT_Config" level="info" additivity="false">
            <AppenderRef ref="Log_OAT_Config"/>
        </Logger>
    </Loggers>
</Configuration>